<!-- <footer>
    <div class="container text-center">
        <div class="row between-xs">
            <div class="text-dark col-md-4">

                <div class=" middleSection1__media-link">
                    Follow us on
                    <div class=" middleSection1__iconAlgn ">
                        <a href="{{site.data.social.facebook}}" target="_blank" title="Share on Facebook" class="custom_share">
                            <div class="middleSection1__img2-1 middleSection1__icondsply"></div>
                        </a>
                    </div>
                    <div class=" middleSection1__iconAlgn ">
                        <a href="{{site.data.social.twitter}}" rel="nofollow" target="_blank" title="Share on Twitter" class="custom_share">
                            <div class="middleSection1__img2-2 middleSection1__icondsply"></div>
                        </a>
                    </div>
                    <div class="middleSection1__iconAlgn">
                        <a href="{{site.data.social.gplus}}" rel="nofollow" target="_blank" title="Share on Google+" class="custom_share">
                            <div class="middleSection1__img2-3 middleSection1__algn1 middleSection1__icondsply"></div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="mb-1 col-md-4">© <strong class="text-dark"></strong> 2018, All Rights Reserved</div>
        </div>
    </div>
</footer> -->
