{% include header.html %} {% for author in site.data.authors %} {% if
author.name == page.author_name %} {% assign author_name = author.name %} {%
assign author_image = author.image %} {% assign author_about = author.about %}
{% break %} {% endif %} {% endfor %}
<!-- PAGE HEADER -->
<div id="post-header" class="page-header">
  <div
    class="page-header-bg"
    style="background-image:url(
      {{ page.thumbnail }}
    );background-repeat:no-repeat;background-size: cover;"
    data-stellar-background-ratio="0.5"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="post-category">
          <a href="/category/{{ post.blog_category | downcase }}">{{
            page.blog_category
          }}</a>
        </div>
        <h1>{{ page.title | upcase }}</h1>
        <ul class="post-meta">
          <li>
            <a href="/author.html">{{ page.author_name }}</a>
          </li>
          <li>{{ page.date | date: "%B %e,%Y" }}</li>
          <li><i class="fa fa-comments"></i> 3</li>
          <li><i class="fa fa-eye"></i> 807</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /PAGE HEADER -->
<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8">
        <!-- post share -->
        <div class="section-row">
          <div class="post-share">
            <a
              href="https://facebook.com/sharer.php?u={{ site.url }}{{
                page.url | relative_url
              }}"
              class="social-facebook"
              rel="nofollow"
              target="_blank"
              title="Share on Facebook"
              content="{{ page.thumbnail }}"
              ><i class="fa fa-facebook"></i><span>Share</span></a
            >
            <a
              href="https://twitter.com/intent/tweet?text={{
                page.title
              }}&url={{ site.url }}{{ page.url | relative_url }}&via={{
                site.twitter_username
              }}&related={{ site.twitter_username }}"
              rel="nofollow"
              target="_blank"
              title="Share on Twitter"
              class="social-twitter"
              ><i class="fa fa-twitter"></i><span>Tweet</span></a
            >
            <!-- <a href="#" class="social-pinterest"
              ><i class="fa fa-pinterest"></i><span>Pin</span></a
            >
            <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a> -->
          </div>
        </div>
        <!-- /post share -->

        <!-- post content -->
        <div class="section-row">
          <div class="middleSection2">
            {{ content }}
          </div>
        </div>
        <!-- /post content -->

        <!-- post author -->
        <div class="section-row">
          <div class="section-title">
            <h3 class="title">
              About <a href="author.html">{{ author_name }}</a>
            </h3>
          </div>
          <div class="author media">
            <div class="media-left">
              <a href="author.html">
                <img
                  class="author-img media-object"
                  src="/assets/img/avatar.png"
                  alt=""
                />
              </a>
            </div>
            <div class="media-body">
              <p>
                {{ author_about }}
              </p>
              <ul class="author-social">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /post author -->

        <!-- /related post -->
        <div>
          <div class="section-title">
            <h3 class="title">Related Posts</h3>
          </div>
          <div class="row">
            <!-- post -->
            {% for author in site.data.authors %} {% if author.name ==
            post.author_name %} {% assign author_name = author.name %} {% assign
            author_image = author.image %} {% assign author_title = author.title
            %} {% break %} {% endif %} {% endfor %} {% assign items = site.posts
            | sort: 'date' | where_exp:"item", "item.blog_category ==
            page.blog_category" %} {% for post in items limit:3 %} {% unless
            post.title == page.title %}
            <div class="col-md-4">
              <div class="post post-sm">
                <a class="post-img" href="{{ post.url | relative_url }}"
                  ><img src="{{ post.thumbnail | relative_url }}" alt=""
                /></a>
                <div class="post-body">
                  <div class="post-category">
                    <a href="/category/{{ post.blog_category | downcase }}">{{
                      post.blog_category
                    }}</a>
                  </div>
                  <h3 class="post-title title-sm">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  </h3>
                  <ul class="post-meta">
                    <li>
                      <a href="author.html">{{ post.author_name }}</a>
                    </li>
                    <li>{{ post.date | date: "%B %e,%Y" }}</li>
                  </ul>
                </div>
              </div>
            </div>
            {% endunless %} {% endfor %}
            <!-- /post -->
          </div>
        </div>
        <!-- /related post -->

        <!-- post comments -->
        <div class="section-row">
          <div id="disqus_thread"></div>
        </div>
        <!-- /post comments -->
      </div>
      <div class="col-md-4">
        <!-- post widget -->
        <div class="aside-widget">
          <div class="section-title">
            <h2 class="title">Popular Posts</h2>
          </div>
          <!-- post -->
          {% assign popularItems = site.posts | sort: 'date' | reverse |
          where_exp:"item1", "item1.popular==true" %} {% for post in
          popularItems %}
          <div class="post post-widget">
            <a class="post-img" href="{{ post.url | relative_url }}"
              ><img src="{{ post.thumbnail | relative_url }}" alt=""
            /></a>
            <div class="post-body">
              <div class="post-category">
                <a href="/category/{{ post.blog_category | downcase }}">{{
                  post.blog_category
                }}</a>
              </div>
              <h3 class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h3>
            </div>
          </div>
          {%endfor%}
          <!-- /post -->
        </div>
        <!-- /post widget -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

  var disqus_config = function() {
    this.page.url = document.location.href;
    // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = document.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://toknowisgood.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>
<style>
  .middleSection2 img {
    width: 100%;
  }
  .middleSection2 a {
    color: #ee4266;
  }
</style>
{% include common_footer.html %} {% include footer.html %} {% include
analytics.html %}
