{% include header.html %}
<!-- SECTION -->

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div id="hot-post" class="row hot-post">
      <div class="col-md-8 hot-post-left">
        {% assign mainItems =site.posts | sort: 'date' | reverse |
        where_exp:"item1", "item1.main=='main'" %} {% for post in mainItems %}
        {%if forloop.index== 1%}
        <!-- post -->
        <div class="post post-thumb">
          <a
            class="post-img"
            href="{{ post.url | relative_url }}"
            style="height:427px"
            ><img src="{{ post.thumbnail | relative_url }}" alt=""
          /></a>
          <div class="post-body">
            <div class="post-category">
              <a href="category.html">{{ post.blog_category }}</a>
            </div>
            <h3 class="post-title title-lg">
              <a href="blog-post.html">{{ post.title }}</a>
            </h3>
            <ul class="post-meta">
              <li>
                <a href="author.html">{{ post.author_name }}</a>
              </li>
              <li>{{ post.date | date: '%-d %B %Y' }}</li>
            </ul>
          </div>
        </div>
        <!-- /post -->
        {%endif%} {% endfor %}
      </div>

      <div class="col-md-4 hot-post-right">
        {% for post in mainItems %} {%if forloop.index > 1 and forloop.index < 4
        %}
        <!-- post -->
        <div class="post post-thumb">
          <a
            class="post-img"
            href="{{ post.url | relative_url }}"
            style="height:210px"
            ><img src="{{ post.thumbnail | relative_url }}" alt=""
          /></a>
          <div class="post-body">
            <div class="post-category">
              <a href="category.html">{{ post.blog_category }}</a>
            </div>
            <h3 class="post-title">
              <a href="blog-post.html">{{ post.title }}</a>
            </h3>
            <ul class="post-meta">
              <li>
                <a href="author.html">{{ post.author_name }}</a>
              </li>
              <li>20 April 2018</li>
            </ul>
          </div>
        </div>
        <!-- /post -->
        {%endif%} {%endfor%}
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 class="title">Know Daily</h2>
            </div>
          </div>

          <!-- post -->
          {% assign dailyItems = site.posts | sort: 'date' | reverse |
          where_exp:"item1", "item1.daily==true" %} {% for post in dailyItems %}
          <div class="col-md-4">
            <div class="post post-sm">
              <a class="post-img" href="{{ post.url | relative_url }}"
                ><img src="{{ post.thumbnail | relative_url }}" alt=""
              /></a>
              <div class="post-body">
                <div class="post-category">
                  <a href="category.html">{{ post.blog_category }}</a>
                </div>
                <h3 class="post-title title-sm">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h3>
                <ul class="post-meta">
                  <li>
                    <a href="author.html">{{ post.author_name }}</a>
                  </li>
                  <li>{{ post.date | date: '%B %e,%Y' }}</li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- /post -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 class="title">Know Trending</h2>
            </div>
          </div>
          <!-- post -->
          {% assign trendingItems = site.posts | sort: 'date' | reverse |
          where_exp:"item1", "item1.trending==true" %} {% for post in
          trendingItems %}
          <div class="col-md-4">
            <div class="post post-sm">
              <a class="post-img" href="{{ post.url | relative_url }}"
                ><img src="{{ post.thumbnail | relative_url }}" alt=""
              /></a>
              <div class="post-body">
                <div class="post-category">
                  <a href="category.html">{{ post.blog_category }}</a>
                </div>
                <h3 class="post-title title-sm">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h3>
                <ul class="post-meta">
                  <li>
                    <a href="author.html">{{ post.author_name }}</a>
                  </li>
                  <li>{{ post.date | date: '%B %e,%Y' }}</li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- /post -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 class="title">Editor's Choice</h2>
            </div>
          </div>
          <!-- post -->
          {% assign editorItems = site.posts | sort: 'date' | reverse |
          where_exp:"item1", "item1.editor==true" %} {% for post in editorItems
          %}
          <div class="col-md-4">
            <div class="post post-sm">
              <a class="post-img" href="{{ post.url | relative_url }}"
                ><img src="{{ post.thumbnail | relative_url }}" alt=""
              /></a>
              <div class="post-body">
                <div class="post-category">
                  <a href="category.html">{{ post.blog_category }}</a>
                </div>
                <h3 class="post-title title-sm">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h3>
                <ul class="post-meta">
                  <li>
                    <a href="author.html">{{ post.author_name }}</a>
                  </li>
                  <li>{{ post.date | date: '%B %e,%Y' }}</li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- /post -->
        </div>
        <!-- /row -->
      </div>
      <div class="col-md-4">
        <!-- newsletter widget -->
        <div class="aside-widget">
          <div class="section-title">
            <h2 class="title">Newsletter</h2>
          </div>
          <div class="newsletter-widget">
            <form>
              <p>Join our newsletter list</p>
              <input
                class="input"
                name="newsletter"
                placeholder="Enter Your Email"
              />
              <button class="primary-button">Subscribe</button>
            </form>
          </div>
        </div>
        <!-- /newsletter widget -->
        <!-- post widget -->
        <div class="aside-widget">
          <div class="section-title">
            <h2 class="title">Popular Posts</h2>
          </div>
          <!-- post -->
          {% assign popularItems = site.posts | sort: 'date' | reverse |
          where_exp:"item1", "item1.popular==true" %} {% for post in
          popularItems %}
          <div class="post post-widget">
            <a class="post-img" href="{{ post.url | relative_url }}"
              ><img src="{{ post.thumbnail | relative_url }}" alt=""
            /></a>
            <div class="post-body">
              <div class="post-category">
                <a href="category.html">{{ post.blog_category }}</a>
              </div>
              <h3 class="post-title">
                <a href="blog-post.html">{{ post.title }}</a>
              </h3>
            </div>
          </div>
          {%endfor%}
          <!-- /post -->
        </div>
        <!-- /post widget -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8">
        <!-- post -->
        {% assign items = site.posts | sort: 'date' | reverse |
        where_exp:"item", "item.blog_category != 'about'" %} {% for post in
        items %} {% for author in site.data.authors %} {% if author.name ==
        post.author_name %} {% assign author_name = author.name %} {% assign
        author_image = author.image %} {% assign author_title = author.title %}
        {% break %} {% endif %} {% endfor %}

        <div class="post post-row">
          <a class="post-img" href="{{ post.url | relative_url }}"
            ><img src="{{ post.thumbnail | relative_url }}" alt=""
          /></a>
          <div class="post-body">
            <div class="post-category">
              <a href="category.html">{{ post.blog_category }}</a>
            </div>
            <h3 class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <ul class="post-meta">
              <li>
                <a href="author.html">{{ post.author_name }}</a>
              </li>
              <li>{{ post.date | date: '%B %e,%Y' }}</li>
            </ul>
            <p>{{ post.description }}</p>
          </div>
        </div>
        {% endfor %}

        <!-- /post -->

        <div class="section-row loadmore text-center">
          <a href="#" class="primary-button">Load More</a>
        </div>
      </div>
      <div class="col-md-4">
        <!-- category widget -->
        {% assign items = site.posts | sort: 'date' | where_exp:"item",
        "item.blog_category != 'about'" %} {% for post in items%} {% if
        post.blog_category %} {% capture tmp %}{{ tmp }}#{{
          post.blog_category
        }}{% endcapture %} {% endif %} {% endfor %} {% assign allprojects = tmp
        | remove_first: '#' | split: '#' %} {% for category in allprojects %} {%
        unless tmp2 contains category %} {% capture tmp2 %}{{ tmp2 }}#{{
          category | strip
        }}{% endcapture %} {% endunless %} {% endfor %} {% assign uniqueprojects
        = tmp2 | remove_first: '#' | split: '#' %}
        <div class="aside-widget">
          <div class="section-title">
            <h2 class="title">Categories</h2>
          </div>
          <div class="category-widget">
            <ul>
              {% for category in uniqueprojects %}
              <li>
                <a href="#">{{ category | capitalize }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- /category widget -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

{% include common_footer.html %} {% include footer.html %} {% include
analytics.html %}
