{% include header.html %} {% for author in site.data.authors %} {% if author.name == page.author_name %} {% assign author_name
= author.name %} {% assign author_image = author.image %} {% assign author_about = author.about %} {% break %} {% endif %}
{% endfor %}

<div class="blogDetailBg">
    {% include common_header.html %}
    <div class="blog__detail--banner" style="background: url(%x%)">
        <div class="blog__detail--bannercontent">
            <h5 class="commonHeight__heading">{{page.title |upcase }}</h5>
            <!--p class="commonHeight__para details-italics ">{{page.description | capitalize }}</p-->
        </div>
    </div>
</div>
<div class="blog__detail--container-all">
    <div class="row blog__detail--container">

        <div class="post-tags">
            <a href="/">{{page.blog_category}}</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 middleSection1__detail">
            <div class=" middleSection1__algnn middleSection1__para">
                {{page.blog_highlight}}
                <!--hr class="middleSection1__hr1"-->
            </div>
            <!--div class=" middleSection1__media-link">
                Share:
                <div class=" middleSection1__iconAlgn ">
                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | relative_url}}" rel="nofollow" target="_blank" title="Share on Facebook"
                        class="custom_share">
                        <div class="middleSection1__img2-1 middleSection1__icondsply"></div>
                    </a>
                </div>
                <div class=" middleSection1__iconAlgn ">
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url | relative_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                        rel="nofollow" target="_blank" title="Share on Twitter" class="custom_share">
                        <div class="middleSection1__img2-2 middleSection1__icondsply"></div>
                    </a>
                </div>
                <div class="middleSection1__iconAlgn">
                    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url | relative_url }}" rel="nofollow" target="_blank" title="Share on Google+"
                        class="custom_share">
                        <div class="middleSection1__img2-3 middleSection1__algn1 middleSection1__icondsply"></div>
                    </a>
                </div>
            </div-->
            <div class="middleSection2">
                {{ content }}

            </div>
            <div class=" middleSection1__media-link">
                Share:
                <div class=" middleSection1__iconAlgn ">
                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | relative_url}}" rel="nofollow" target="_blank" title="Share on Facebook"
                        class="custom_share">
                        <div class="middleSection1__img2-1 middleSection1__icondsply"></div>
                    </a>
                </div>
                <div class=" middleSection1__iconAlgn ">
                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url | relative_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                        rel="nofollow" target="_blank" title="Share on Twitter" class="custom_share">
                        <div class="middleSection1__img2-2 middleSection1__icondsply"></div>
                    </a>
                </div>
                <div class="middleSection1__iconAlgn">
                    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url | relative_url }}" rel="nofollow" target="_blank" title="Share on Google+"
                        class="custom_share">
                        <div class="middleSection1__img2-3 middleSection1__algn1 middleSection1__icondsply"></div>
                    </a>
                </div>
            </div>
            <!--div class="author-list">
                <div class="author-list-title">Written by</div>
                <div class="author-box">
                    <img class="author-avatar" src="{{ author_image | relative_url}}" alt="author-image">
                    <h2 class="author-title">{{author_name}}</h2>
                    <p class="author-description">{{author_about}}</p>
                </div>
            </div-->

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="post-tags">Related Posts
                </div>

                <div class="row blog_commom-row">
                    {% for author in site.data.authors %} {% if author.name == post.author_name %} {% assign author_name = author.name %} {%
                    assign author_image = author.image %} {% assign author_title = author.title %} {% break %} {% endif %}
                    {% endfor %} {% assign items = site.posts | sort: 'date' | where_exp:"item", "item.blog_category == page.blog_category"
                    %} {% for post in items limit:6 %} {% unless post.title == page.title %}

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-filter {{post.blog_category}}">
                        <div class="tag">{{post.blog_category}}</div>
                        <a href="{{ post.url | relative_url}}">
                            <img alt="thumbnail_img" src="{{ post.thumbnail | relative_url}}" class="blog-filter__img">
                            <div class="blogWholeBG">
                                <div class="blogDetail">
                                    <h5 class="blogDetail__title">{{ post.title}}</h5>
                                    <div class="blogDetail__border"></div>
                                    <div class="blog__user text-light small">{{post.date | date: "%B %e,%Y"}} | by <span
                                            class="text-dark">{{post.author_name}}</span></div>
                                    <p class="blogDetail__para">{{ post.description}}</p>
                                    <a href="{{ post.url | relative_url}}" class="blog__readmore">Read More ❯</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endunless %} {% endfor %}
                </div>
            </div>

            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
        this.page.url = document.location.href;
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = document.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

    };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mcsekar.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% include common_footer.html %} {% include footer.html %}
