{% include header.html %}

<!-- PAGE HEADER -->
<div class="page-header">
  <div
    class="page-header-bg"
    style="background-image: url('/assets/img/header-2.jpg');"
    data-stellar-background-ratio="0.5"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h1 class="text-uppercase">{{ page.category | upcase }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- /PAGE HEADER -->
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8">
        <!-- post -->
        {% assign items = site.posts | sort: 'date' | reverse |
        where_exp:"item", "item.blog_category == page.category" %} {% for post
        in items %} {% for author in site.data.authors %} {% if author.name ==
        post.author_name %} {% assign author_name = author.name %} {% assign
        author_image = author.image %} {% assign author_title = author.title %}
        {% break %} {% endif %} {% endfor %}

        <div class="post post-row">
          <a class="post-img" href="{{ post.url | relative_url }}"
            ><img src="{{ post.thumbnail | relative_url }}" alt=""
          /></a>
          <div class="post-body">
            <div class="post-category">
              <a href="/category/{{ post.blog_category | downcase }}">{{
                post.blog_category
              }}</a>
            </div>
            <h3 class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <ul class="post-meta">
              <li>
                <a href="/author.html">{{ post.author_name }}</a>
              </li>
              <li>{{ post.date | date: "%B %e,%Y" }}</li>
            </ul>
            <p>{{ post.description }}</p>
          </div>
        </div>
        {% endfor %}

        <!-- /post -->

        <!-- <div class="section-row loadmore text-center">
          <a href="#" class="primary-button">Load More</a>
        </div> -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
{% include common_footer.html %} {% include footer.html %} {% include
analytics.html %}
